.site-footer{
    background-color: #ececec;
    .bottom{
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.site-footer__copyright{
    color: #585858;
    transition: all 0.2s;
    font-size: 1.4rem;
    &:hover{
        color: #2f2f2f;
    }
}

.site-footer__social-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.site-footer__social-links a{
    width: 20px;
    height: 20px;
    margin-left: 8px;
    transition: all 0.2s;
    svg{
        fill: #585858;
        width: 100%;
        height: 100%;
    }
    &:hover{
        svg{
            fill: #2f2f2f;
        }
    }
}